<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizza Front | Promocion</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="../img/pizza.svg" alt="logo de pizza">
            <h1><span class="pizza">Pizza</span><span class="and">&</span><span class="front">Front</span></h1>
        </div>
        <div class="menu-header">
            <a href="../index.html">Volver</a>
            <a href="ranking.html">Ranking</a>
            <a href="home.html">Home</a>
            <a href="contacto.html">Contacto</a>
        </div>
    </header>
    <main></main>
    <footer>
        <div class="menu-footer">
            <a href="home.html">Home</a>
            <a href="contacto.html">Contacto</a>
            <a href="ranking.html">Ranking</a>
            <a href="#">Promoción</a>
        </div>
        <div class="logo">
            <img src="../img/pizza.svg" alt="logo de pizza">
            <h3><span class="pizza">Pizza</span><span class="and">&</span><span class="front">Front</span></h3>
        </div>
    </footer>
</body>
</html>